[tool.poetry]
name = "hnn_utils"
version = "0.3.0"
description = "Various utilities used throughout my research"
authors = ["Haydn Jones <haydnjonest@gmail.com>"]
readme = "README.md"
packages = [{ include = "hnn_utils" }]

include = ["hnn_utils/datasets/vocab/*.json"]

[tool.poetry.dependencies]
python = "^3.7"
einops = "^0.7.0"
lightning = "^2.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py37']
include = '\.pyi?$'
